[submodule "Ayudantia/algo1"]
	path = Ayudantia/algo1
	url = git@git.exactas.uba.ar:materias/algo1.git
[submodule "arq-web/ArqWeb"]
	path = arq-web/ArqWeb
	url = git@github.com:mmaximiliano/ArqWeb.git
