[submodule "Ayudantia/algo1"]
	path = Ayudantia/algo1
	url = git@git.exactas.uba.ar:materias/algo1.git
[submodule "arq-web/ArqWeb"]
	path = arq-web/ArqWeb
	url = git@github.com:mmaximiliano/ArqWeb.git
[submodule "bases/aurora-grundig"]
	path = bases/aurora-grundig
	url = git@github.com:nsanmartin/aurora-grundig.git
[submodule "inge1/catedra"]
	path = inge1/catedra
	url = https://github.com/UBA-FCEN-IngSoft1/2019-1c.git
[submodule "inge1/ooo"]
	path = inge1/ooo
	url = git@github.com:nsanmartin/ooo.git
[submodule "inge2/talleres/2"]
	path = inge2/talleres/2
	url = git@github.com:ericbrandwein/inge2-taller2.git
[submodule "inge2/talleres/3"]
	path = inge2/talleres/3
	url = git@github.com:ericbrandwein/inge2-taller3.git
[submodule "reconocimiento-de-patrones/lassie"]
	path = reconocimiento-de-patrones/lassie
	url = https://git.exactas.uba.ar/nsanmartin/lassie.git
[submodule "reconocimiento-de-patrones/reconocimiento-de-patrones"]
	path = reconocimiento-de-patrones/reconocimiento-de-patrones
	url = https://git.exactas.uba.ar/nsanmartin/reconocimiento-de-patrones.git
[submodule "redes/1337h4x0r5"]
	path = redes/1337h4x0r5
	url = git@github.com:ericbrandwein/1337h4x0r5.git
[submodule "tesis"]
	path = tesis
	url = git@github.com:Agusanso7/tesis-lipo.git
[submodule "thinness"]
	path = thinness
	url = git@github.com:ericbrandwein/thinness.git
[submodule "tleng/tp"]
	path = tleng/tp
	url = git@github.com:ericbrandwein/cara-de-cocou.git
